<header>
  <h3>Update Task</h3>
</header>
<div class="container">
  <form>
    <div class="form-group">
      <label for="tituloTarefa">Title</label>
      <input type="text"
             [(ngModel)]="titleEdited"
             name="titleEdited"
             class="form-control"
             id="tituloTarefa"
             aria-describedby="emailHelp"
             placeholder="Add new title">
    </div>
    <div class="form-group">
      <label for="minhaTarefa">Update Task</label>
      <textarea type="text"
                [(ngModel)]="workEdited"
                name="workEdited"
                class="form-control"
                id="minhaTarefa"
                placeholder="Description your title"></textarea>
    </div>
    <button class="btn btn-success float-right" style="margin-left: 5px !important;" (click)="updateTask()">Update</button>
    <button class="btn btn-danger float-right" (click)="goBack()">Cancel</button>
  </form>
</div>
