<header>
  <h3>My Tasks</h3>

  <!-- Field of search -->
    <form action="" class="search-form col-sm-3 float-right">
      <div class="form-group has-feedback">
        <label for="search" class="sr-only">Search</label>
        <input type="text" class="form-control" name="search" id="search" placeholder="search" [ngModel]="searchterm" (change)="search($event)">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
      </div>
    </form>

</header>
<div class="container">

  <!-- REGISTRATION FORM -->
  <button id="tg" (click)="toggle()" class="btn btn-success">Add a new task</button>
    <form id="form" name="form" class="col-xs-1 col-sm-5" *ngIf="showForm" (submit)="api.add(_title, work)">
      <fieldset>
        <div class="form-group">
          <label for="tituloTarefa">Title</label>
          <input type="text"
                 [(ngModel)]="_title"
                 name="_title"
                 class="form-control"
                 id="tituloTarefa"
                 aria-describedby="emailHelp"
                 placeholder="Add new title"
                 required
                 #name = "ngModel"
          >

        </div>
        <p *ngIf="name.invalid" class="invalid">
          The title is requires
        </p>
        <div class="form-group">
          <label for="minhaTarefa">Your task</label>
          <textarea type="text"
                    [(ngModel)]="work"
                    name="work"
                    class="form-control"
                    id="minhaTarefa"
                    placeholder="Description your task"
                    required
                    #myWork = "ngModel"
          >
          </textarea>
          <p *ngIf="myWork.invalid" class="invalid">
            The work is requires
          </p>
        </div>
        <button class="btn btn-success btn-sm float-right">
          Add
        </button>
      </fieldset>
    </form>
<br>
<br>
<br>
  <!-- LIST OF TASK-->


  <div class="container">
    <div *ngIf="isOpened">
      <div *ngFor="let task of tasks | async">
        <div class="card-deck">
          <div class="card d-inline-block" style="width: 18rem;">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">My task</h6>
              <h5 class="card-title">{{task.title}}</h5><hr>
              <p class="card-text">{{task.work}}</p>
              <button class="btn btn-link card-link" (click)="taskEdit(task)">
                Update
                <!--<span (click)="taskEdit(task)" class="glyphicon glyphicon-pencil btn" style="color: #c32c2c;"></span>-->
              </button>
              <button class="btn btn-link card-link" (click)="delete(task.taskId)">
                Delete
                <!--<span (click)="delete(task.taskId)" class="glyphicon glyphicon-trash btn" style="margin-left: 5px; color: #c32c2c"></span>-->
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- CARDS OF SEARCH-->
    <div *ngIf="!isOpened">
      <div *ngFor="let t of dados | async">
        <div class="card-deck">
          <div class="card d-inline-block" style="width: 18rem;">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">My task</h6>
              <h5 class="card-title">{{t.title}}</h5><hr>
              <p class="card-text">{{t.work}}</p>
              <button class="btn btn-link card-link" (click)="taskEdit(t)">
                Update
                <!--<span (click)="taskEdit(task)" class="glyphicon glyphicon-pencil btn" style="color: #c32c2c;"></span>-->
              </button>
              <button class="btn btn-link card-link" (click)="delete(t.taskId)">
                Delete
                <!--<span (click)="delete(task.taskId)" class="glyphicon glyphicon-trash btn" style="margin-left: 5px; color: #c32c2c"></span>-->
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
