/**{
  font-family: "Roboto";
}*/

header
{
  position: relative;
  bottom: 20px;
  height: 80px;
  background-color: cadetblue !important;
  color: #fff;

}

header h3
{
  position: relative;
  top: 30px;
  text-align: center;
}

form#search
{
  position: relative;
  bottom: 20px;
  margin-right: 3%;
}

#form{
  /*border: 1px solid red;
  width: 60%;*/
  margin: auto;
  height: 265px;
  position: relative;
}


#form button, #tg
{
  color: #fff !important;
}

.invalid
{
  color:#ff4444;
}

fieldset
{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 10px !important;
  height: inherit!important;
  position: relative;
}

#form fieldset button
{
  position: absolute;
  bottom: 5px;
  right: 5px;
}


button{
  color:cornflowerblue!important;
}

.card-deck{margin-bottom: 15px !important;}

/*.card {display: inline-block!important;}*/

/*.card
{
  display: inline-block !important;
  flex-direction: unset !important;
}*/

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: 14px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

